#top {
  width:100%;
  position:fixed;
  top: 0;   
  padding: 0.5rem 0 0; 
  z-index: 1001;      
}
form.form {
  margin-bottom: 0;
}
/* This styles individual sections of the style guide */
.ss-section:not(:last-child) {
  padding-bottom: 3rem;
  clear: both;
}
.ss-section + .ss-section  {
  padding-top: 4rem;    
}
.markup-wrapper > h1 {
  padding: 1.5rem;
  color: #ff6c00;
  background: rgba(255,108,0,0.15);
}
#code-content {
  padding-top: 1rem;
}
/* This styles the color blocks used in the color documentation. */
.color-block {
  border-radius: 2px;
  display: block;
  padding: 8px 8px 6px;
  color: #333;
  text-transform: uppercase;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
  .color-block code {
    text-transform: none;
  }
  .color-block span {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 0.42857rem;
    padding: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

/* This styles code blocks used for examples. */
.ss-code {
    margin-bottom: 1rem; 
  }
  .ss-code code {
    max-height: 900px;
    overflow: scroll;
    display: block;
    padding: 1.5rem 1rem 1rem;
    margin-bottom: 1.5rem;
    opacity: 1;
  }

.ss-code-live::before,
.ss-code-live::after {
  content: ' ';
  display: table;
}
.ss-code-live::after {
  clear: both;
}  
.docs-code-toggle {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: bold; 
    color: #11114f;
}
code { 
  font-size: 0.9375rem;
  background-color: #fffefd;
  border-color: #b5cae5;
  color: #11002E;
}

@media screen and (max-width: 35em) {
  #top h1 { float: left; font-size: 20px; }
  #top select { font-size: 14px; }
}    
 
.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .row.display .column:nth-child(2), .row.display .column.small-centered, .row.display .column.large-centered {
    background: #e1e1e1; }
  .row.display .column.color-end {
    background: #d5d5d5; }

.row.display-end {
  background: #fff;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .row.display-end .column {
    background: #e1e1e1;
    border-left: 1px solid #c6c6c6; }
    .row.display-end .column.color-end {
      background: #d5d5d5; }
pre {
  position: relative;
}
code::before {
  font-weight: 900;
  color: #FFF;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
code.css::before {
  content: "CSS";
}
code.html::before {
  content: "HTML";
}
code.javascript::before {
  content: "JavaScript";
}
code.perl::before {
  content: "Perl";
}
code.scss::before {
  content: "SCSS";
}
code.less::before {
  content: "LESS";
}
code.json::before {
  content: "JSON";
}
code.markdown::before {
  content: "MD";
}
code.xml::before {
  content: "XML";
}

/* highlight.js styles */
.hljs-comment {
  color: #899489;
}

/*  Red */
.hljs-variable,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.hljs-constant,
.hljs-title,
.hljs-pi,
.hljs-doctype,
.hljs-id {
  color: #e6193c;
}

/*  Orange */
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #87711d;
}

/*  Yellow */
.hljs-title,
.hljs-pseudo {
  color: #98981b;
}

/*  Green */
.hljs-number,
.hljs-value,
.hljs-string,
.hljs-inheritance,
.hljs-header,
.hljs-symbol {
  color: #29a329;
}

/*  Aqua */
.hljs-attribute{
  color: #1999b3;
}
/*  Brown */
.hljs-hexcolor {
  color: #772932;
  text-transform: uppercase;
}
/*  Blue */
.hljs-decorator,
.hljs-title,
.hljs-sub {
  color: #3d62f5;
}

/*  Purple */
.hljs-keyword,
.hljs-function,
.hljs-class {
  color: #ad2bee;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f4fbf4;
  color: #5e6e5e;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}
