<p>Anchor elements that look like buttons:</br>
  <a href="#" class="button">Button-like Link</a><br/>
  <a href="#" class="success button">Success Link</a><br/>
  <a href="#" class="warning button">Warning Link</a><br/>
  <a href="#" class="alert button">Alert Link</a><br/>
  <a href="#" class="secondary button">Secondary Link</a>
</p>
<p>Buttons Elements:</br>
  <button type="button" class="button">Simple Button</button><br/>
  <button type="button" class="success button">Success Btn</button><br/>
  <button type="button" class="warning button">Warning Btn</button><br/>
  <button type="button" class="alert button">Alert Btn</button><br/>
  <button type="button" class="secondary button">Secondary Btn</button>
</p>